body {
    background-color: violet; 
}

#main-wrapper{
    width: 100%;
    max-width: 900px; 
    height: 100px; 
    background-color: blue;
    margin: auto; 

}

#headline-wrapper {
    height:50px;
    width: 100%; 
    background-color: red; 
}

#headline-wrapper {
    text-align: center; 
}

.nav-item{
    width: 24%; 
    height: 50px; 
    background-color: black;
    display: inline-block; 
}

#nav-wrapper{
    text-align: center; 
}