.wrapper{
    width: 100%;
    max-width:900px;
    height: 300px;

    display: flex;
    justify-content: center;
    
    cursor: wait;
    
    margin: auto;
    margin-top: 200px;

}



.hours, .minutes, .seconds{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hours div, .minutes div, .seconds div{
    border: .5px solid white;
    background-color: black;
    flex: 1; /*make sure each black div takes the same space as others in their section */
}

