body {
    background-color: lightcoral
}

.box {
    width: 300px; 
    /* height: 100px; */
    outline: 2px solid white; 
    padding: 10px; 
    margin: 20px; 
    background-color: pink;
}

#one {
    /* display: none; */
    /* visibility: hidden; */
    position: relative; 
    top: 0px; 
    left: 20px;  
}

/* #two:active dive {
    background-color: red; 
} */

#one span {
    position: relative; 
    top: -6px; 
    left: 2px; 
}

#two {
    position: absolute; 
    top: 500px; 
    left: 900px; 
}

#three {
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
}

#four {
    position: sticky; 
    top: 0px; 
}

#five {
    height: 1000px; 
}