body {
    background-color: #568b34; 
    margin: 0;
}

.container{
    
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin-top: 110px;
    overflow: hidden;
    position: relative;
}

.box{
    width: 700px; 
    height: 600px;
    overflow: hidden;
    background-color: #a9d851;
    background: repeating-conic-gradient(
        #a9d851 0% 25%, 
        #a3d04a 0% 50%
    ); 
    background-size: 60px 60px; 
} 

.top-border{
    background-color: #49752d;
    color: #49752d;
    position: fixed;
    overflow: hidden; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 60px; 
    z-index: 1000;   

}

.btn-container {
    display: flex;
    justify-content: space-between;
    position: relative; 
    top: 30px;  
    margin-left: 50vw; 
    right: 160px;
}

button {
    display: flex; 
    background-color:#1255cc;
    color: white; 
    border: none; 
    padding: 1px 120px; 
    border-radius: 6px; 
    font-size: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease in; 
}

button img {
    width: 15px; 
    height: 15px; 
    position: relative;
    top: 40%;
}

.shift {
    position: relative;
    right: 100px;
    bottom: 4px;
}

.btn-container p {
    display: inline;
}


button:hover{
    background-color: #152244; 
}

.play{
    height: 15px; 
    width: 15px; 

}

.lorem{
    color: blue; 
    position: relative; 
    font-weight: bolder; 

}

.lorem-2{
    color: blue; 
    position: relative;  
    transform: rotate(0.25turn);
    font-weight: bolder;

}

.lorem-3{
    color: blue; 
    position: relative;  
    font-weight: bolder;
    left: 1px;  

}

.lorem-4{
    color: blue;
    position: relative; 
    top: 30px; 
    font-weight: bolder; 
}

.lorem-5{
    color: blue; 
    position: relative; 
    top: 65px; 
    font-weight: bolder; 
}

.lorem-6{
    color: blue; 
    position: relative; 
    top: 105px; 
    font-weight: bolder; 
}

.lorem-7{
    color: blue; 
    position: relative; 
    top: 150px; 
    font-weight: bolder; 
}

.lorem-8{
    color: blue;
    position: relative; 
    top: 185px; 
    font-weight: bolder; 

}

@keyframes slither{
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%); 
    }
}

.lorem{
    animation: slither 10s ease-in infinite; 
}

.lorem-2{
   animation: slither-up 10s ease-in infinite; 
} 

.lorem-4{
    animation: slither 10s ease-in infinite; 
}

.lorem-6{
    animation: slither 10s ease-in infinite; 
}

.lorem-8{
    animation: slither 10s ease-in infinite; 
}

@keyframes slither-down{
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(20px);
    }
}
    
@keyframes slither-left{
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%); 
    }

}

.lorem-3{
    animation: slither-left 10s ease-in infinite; 
}

.lorem-5{
    animation: slither-left 10s ease-in infinite; 
}

.lorem-7{
    animation: slither-left 10s ease-in infinite; 
}
